<div class="row" style="background-color:#4e4eff;">
  <div class="col">
    <a href="/"><h1 class="mt-4" style="text-align: center;">Profile</h1></a>
  </div>
  <div class="col-6">
    <a href="/users/friends" ><h1 class="mt-4" style="text-align: center;">Friends</h1></a>
  </div>
  <div class="col">
    <a href="/users/logout"><h1 class="mt-4" style="text-align: center;">Log Out</h1></a>
  </div>
</div>
