<div class="row" style="background-color:#4e4eff;">
  <div class="col">
    <a href="/profile"><h1 class="mt-4">Profile</h1></a>
  </div>
  <div class="col-6">
    <a href="/friends"><h1 class="mt-4">Friends</h1></a>
  </div>
  <div class="col">
    <a href="/users/logout"><h1 class="mt-4">Log Out</h1></a>
  </div>
</div>
