<div class = 'row' style = "padding-bottom: 3%; padding-top: 3%;">
  <div class="col-12">
  <form class="form-inline mr-auto mb-4" action="/users/friends/results" method="POST">
    <div class="input-group col-md-11">
            <input class="form-control py-2 border-right-0 border" type="search" placeholder="search" id="search" name="search">
            <span class="input-group-append">
              <button class="btn btn-outline-secondary border-left-0 border" type="submit">
                    <i class="fa fa-search"></i>
              </button>
            </span>
        </div>
  </form>
</div>
</div>
